doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description' content='')
        meta(name='author' content='')

        title Efremov Dmitriy CV

        link(rel="icon", type="image/png", href="/assets/img/favicon-96x96.png" sizes="96x96")
        link(rel="icon", type="image/svg+xml", href="/assets/img/favicon.svg")
        link(rel="shortcut icon", href="/assets/img/favicon.ico")
        link(rel="apple-touch-icon", sizes="180x180", href="/assets/img/apple-touch-icon.png")
        link(rel="manifest", href="/assets/site.webmanifest")

        // Font Awesome icons (free version)
        script(src='https://use.fontawesome.com/releases/v6.3.0/js/all.js' crossorigin='anonymous')

        // Google fonts
        link(href='https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700' rel='stylesheet' type='text/css')
        link(href='https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i' rel='stylesheet' type='text/css')

        // Core theme CSS (includes Bootstrap)
        link(href='css/styles.css' rel='stylesheet')

    body#page-top

        // Navigation
        nav#sideNav.navbar.navbar-expand-lg.navbar-dark.bg-secondary.fixed-top
            a.navbar-brand.js-scroll-trigger(href='#page-top')
                span.d-block.d-lg-none Efremov Dmitriy
                span.d-none.d-lg-block
                    img.img-fluid.img-profile.rounded-circle.mx-auto.mb-2(src='assets/img/profile.jpg' alt='...')
            button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbarResponsive' aria-controls='navbarResponsive' aria-expanded='false' aria-label='Toggle navigation')
                span.navbar-toggler-icon
            #navbarResponsive.collapse.navbar-collapse
                ul.navbar-nav
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#about') About
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#skills') Skills
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#experience') Experience
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#projects') Projects
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#interests') Interests
        // Page Content
        .container-fluid.p-0

            // About
            section#about.resume-section
                .resume-section-content
                    h1.mb-0
                        | Efremov 
                        span.text-primary Dmitriy
                    .subheading.mb-5
                        a(href='mailto:name@email.com') d.efremov2001@mail.ru
                    p.lead.mb-5
                        | Ekateriburg Russia, Remote, Open to relocation
                    p.lead.mb-5
                        | I am Dmitry Efremov, a dedicated software developer and team leader with a strong technical foundation in Unity, C# and full-stack development. My expertise spans VR development, backend systems, and web applications, with hands-on experience in technologies like Unity,  ASP.NET, EF Core and React.
                    .social-icons    
                        a.social-icon(href='https://t.me/mrvbnz')
                            i.fab.fa-telegram
                        a.social-icon(href='https://github.com/MrVbnz')
                            i.fab.fa-github
                        a.social-icon(href='https://www.linkedin.com/in/dmitry-efr/')
                            i.fab.fa-linkedin-in

            hr.m-0

            // Skills
            section#skills.resume-section
                .resume-section-content
                    h2.mb-5 Skills
                    .column-container
                        .column
                            h3.mb-3.mt-3 Hard
                            .subheading.mb-1.mt-1 Expert
                            ul.fa-ul.mb-0
                                li
                                    span.fa-li
                                        i.fas.fa-check
                                    | Unity
                                li
                                    span.fa-li
                                        i.fas.fa-check
                                    | C#
                            .subheading.mb-1.mt-1 Proficient
                            ul.fa-ul.mb-0
                                li
                                    span.fa-li
                                        i.fas.fa-check
                                    | ASP.NET
                                li
                                    span.fa-li
                                        i.fas.fa-check
                                    | Entity Framework Core
                                li
                                    span.fa-li
                                        i.fas.fa-check
                                    | Nginx
                                li
                                    span.fa-li
                                        i.fas.fa-check
                                    | SignalR
                                li
                                    span.fa-li
                                        i.fas.fa-check
                                    | React (TypeScript)
                                li
                                    span.fa-li
                                        i.fas.fa-check
                                    | Docker Compose
                            .subheading.mb-1.mt-1 Intermediate
                            ul.fa-ul.mb-0
                                li
                                    span.fa-li
                                        i.fas.fa-check
                                    | C/C++
                                li
                                    span.fa-li
                                        i.fas.fa-check
                                    | Pure JavaScript
                                li
                                    span.fa-li
                                        i.fas.fa-check
                                    | Python
                                li
                                    span.fa-li
                                        i.fas.fa-check
                                    | Java
                                li
                                    span.fa-li
                                        i.fas.fa-check
                                    | WPF
                                li
                                    span.fa-li
                                        i.fas.fa-check
                                    | Windows Forms
                        .column
                            h3.mb-3.mt-3 Unity Assets
                            ul.fa-ul.mb-0
                                li
                                    span.fa-li
                                        i.fas.fa-check
                                    | Zenject
                                li
                                    span.fa-li
                                        i.fas.fa-check
                                    | LeoECS
                                li
                                    span.fa-li
                                        i.fas.fa-check
                                    | DOTween
                                li
                                    span.fa-li
                                        i.fas.fa-check
                                    | UniTask
                                li
                                    span.fa-li
                                        i.fas.fa-check
                                    | BNG VR Interaction Framework 
                            h3.mb-3.mt-3 Soft
                            ul.fa-ul.mb-0
                                li
                                    span.fa-li
                                        i.fas.fa-check
                                    | Strong communication skills  
                                li
                                    span.fa-li
                                        i.fas.fa-check
                                    | Team management, task decomposition and delegation
                                li
                                    span.fa-li
                                        i.fas.fa-check
                                    | Training and onboarding new team members
                            
                            h3.mb-3.mt-3 Other
                            ul.fa-ul.mb-0
                                li
                                    span.fa-li
                                        i.fas.fa-check
                                    | Cinema 4d  
                                li
                                    span.fa-li
                                        i.fas.fa-check
                                    | Blender
            hr.m-0
            
            // Experience
            section#experience.resume-section
                .resume-section-content
                    h2.mb-5 Experience
                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 Unity developer
                            .subheading.mb-3 Ceramic 3d
                        .flex-shrink-0
                            span.text-primary September 2024 - Present
                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 Unity VR developer, team lead
                            .subheading.mb-3 NovATrans
                        .flex-shrink-0
                            span.text-primary September 2023 – September 2024

            hr.m-0

            // Projects
            section#projects.resume-section
                .resume-section-content
                    h2.mb-5 Projects
                        h3.mb-3 University / Personal Projects
                        ul.fa-ul.mb-0
                            li
                                h4.mb-3.mt-3 Online Real-Time Graph Editor (Fullstack)
                                ul.fa-ul.mb-0
                                    li 
                                        p
                                            strong Backend: 
                                            | ASP.NET, EF Core, SignalR
                                    li
                                        p
                                            strong Frontend: 
                                            | React (TypeScript), Bootstrap
                                    li
                                        p 
                                            | Developed a collaborative graph editor supporting real-time, multi-user editing similar to Google Docs. Primarily worked on backend architecture and database integration, occasionally updating the frontend to align with API changes.
                            li
                                h4.mb-3.mt-3 Multi-Target Cloud Functions Runner (Backend)
                                ul.fa-ul.mb-0
                                    li
                                        p
                                            strong Backend: 
                                            | Flask-RESTful, MongoDB
                                    li
                                        p 
                                            | Built a service that integrates multiple cloud function providers (AWS, Yandex, Sber, Selectel) into a unified REST API. The service supports versioning, uploading, and deploying functions, automatically adapting them to provider-specific formats.

                        h3.mb-3 NPC NovATrans
                        ul.fa-ul.mb-0
                            li
                                h4.mb-3 Virtual Station (Web Backend, Frontend)
                                ul.fa-ul.mb-0
                                    li
                                        p
                                            strong Backend: 
                                            | ASP.NET, EF Core
                                    li
                                        p
                                            strong Frontend: 
                                            | Vite, React (TypeScript), Bootstrap
                                    li    
                                        p
                                            strong Desktop Client: 
                                            | Unity
                                    li
                                        p Contributed to an open-world multiplayer project with VR and desktop support. Initially focused on maintaining and enhancing backend functionality, later worked on frontend updates. Ported the infrastructure from an IIS Windows server to Docker Compose for improved deployment.
                            
                            li
                                h4.mb-3 AR Exhibition Stand (Fullstack)
                                ul.fa-ul.mb-0
                                    li
                                        p
                                            strong Backend: 
                                            | Node.js, Nginx
                                    li
                                        p
                                            strong Frontend: 
                                            | Pure JavaScript with Three.js and AR.js
                                    li
                                        p Developed a web-based AR application from scratch, enabling augmented reality experiences through local hosting with HTTPS to allow browser camera access. Designed for an exhibition stand combining physical miniatures and AR content.

                            li
                                h4.mb-3 Interactive Museum Exhibition
                                ul.fa-ul.mb-0
                                    li
                                        p
                                            strong Technologies: 
                                            | Unity, Arduino IDE
                                    li
                                        p Created an interactive exhibit for a museum featuring touch screens displaying dynamic content. Designed a moving display controlled by servo motors, representing the development of high-speed railways over time.

                            li
                                h4.mb-3 VR Simulator for TEM18DM Locomotive Training
                                ul.fa-ul.mb-0
                                    li
                                        p
                                            strong Technology: 
                                            | Unity with a Custom Scenario Editor
                                    li
                                        p Improved and extended a custom scenario editor, developing new mechanics and training scenarios to enhance simulator functionality.

                            li
                                h4.mb-3 VR Simulator for Extreme Situations on EP2D Train
                                ul.fa-ul.mb-0
                                    li
                                        p
                                            strong Technologies: 
                                            | Unity, Custom Node-Based Scenario Editor, Physical Fire Simulation
                                    li
                                        p Redesigned a scenario editor using a node graph structure for creating branching and multiplayer scenarios, streamlining the workflow for new team members.
                                        p Developed a node-based fire spread simulation tool with object property baking to simulate fire dynamics and interactions, such as extinguisher use. The fire effects are rendered using Unity Visual Effect Graph.
                                        p Trained new employees and contributed to scenario creation using the new editor.

            hr.m-0
            
            // Interests
            section#interests.resume-section
                .resume-section-content
                    h2.mb-5 Interests
                    h3.mv-3 Outdoor Activities
                    p Passionate about tracking, hiking, and cycling, which allow me to stay active and explore nature.
                    h3.mv-3 3D Printing and Miniature Painting
                    p Enthusiast of 3D printing, where I design and print miniatures, which I then enjoy painting and customizing.
                    h3.mv-3 Gaming
                    p Enjoy a variety of video games, particularly sandbox, RPG, and MOBA genres, which foster creativity and strategic thinking.


                // Bootstrap core JS
                script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js')

                // Core theme JS
                script(src='js/scripts.js')